{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>s'enregistrer'</h1>
<div class="container-sm">


    {{ form_start(registrationForm) }}
       {{ form_widget(registrationForm) }}

        <button type="submit" class="btn btn-primary">s'enregistrer</button>
        <a href="{{ path('main_home') }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
